body{
    background-color: black;
    max-width: 100%;
    height: auto;
    margin: 10vh;
    
}

.top , .bottom{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: auto;


}

div.top >{

}








/*
.top .bottom{
    display:flex;
    flex-direction: row;
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    

}


 .top > div.window1 , div.window2{
    
    margin: 10%;
    padding: 30%;
    border: 3vw solid aliceblue;
    height: 10vh;
    width: 7vw;
    
    
    
}

.bottom > div.window1 , div.window2{
    
    margin: 10%;
    padding: 30%;
    border: 3vw solid aliceblue;
    height: 10vh;
    width: 7vw;
    background-color: red;
    
    
    
}
*/