*{
    margin: 0;
    padding:0;
    
}
//what is border box

body{
    width: 100vw;
    height:100vh;
    


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    
    .black{
        max-width: 100vw;
        height: 100vh;
        transition: opacity 0.3s;
        opacity: 1;
        
    }

    .black:hover{
        filter:invert(16%) sepia(77%) saturate(5125%) hue-rotate(12deg) brightness(77%) contrast(132%);
        
    }
        
    
    
   

}
}

